<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcBJzBP4_qsnmB18BumImNAIA_l6ugN8M</string>
	<key>GCM_SENDER_ID</key>
	<string>775250583572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daftarBelanja</string>
	<key>PROJECT_ID</key>
	<string>test-1-27571</string>
	<key>STORAGE_BUCKET</key>
	<string>test-1-27571.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775250583572:ios:79fbfe65af86f9d0b6c701</string>
	<key>DATABASE_URL</key>
	<string>https://test-1-27571-default-rtdb.firebaseio.com</string>
</dict>
</plist>